@page
@model QuickBite.Pages.AboutModel 
@{
    ViewData["Title"] ="About Us";
}

<section id="main">
    <h1 class="about-header">A little bit about QuickBite ...</h1>
    <br>
    <br>
    <img class="fruit-and-veg" src="/images/products/thumbnails/fruitVeg.jfif" alt="Fruit and Veg">
    <br>
<br>

    <p class="info-on-QuickBite">
        QuickBite is a family business. We believe your body is precious and only deserves the best. Our QuickBite meals are made from the best ingredients,
        sourced locally and prepared with lots of family love. We have over 20 years of experience giving our customers what their bodies need to be healthy and their minds to be happy. Priced extremely resonably, our food makes healthy eating possible for everyone.
    </p>

    
</section>
