@page
@model QuickBite.Pages.OrderSuccessModel
@{
}

<ol class="list">
    <li class="process-1">1. Choose Item</li>
    <li class="process-1">2. Details</li>
    <li class="process-1" style="color: red; font-size: 30px;">3. Receipt</li>
</ol>
<br>
<br>
<h1>Order Confirmation</h1>

<br>
<br>

<div class="message order-success">
    <h2>Thank you for your order!</h2>
    <p>We are processing your order and have sent a confirmation email. Thank you for your business and enjoy!</p>
</div>
